.align-left { float: left !important; }
.align-right { float: right !important; }
.clear { clear: both !important; float: none !important; }
.full-width { width: 100% !important; }
.hidden { display: none !important; }
.margin-bottom { margin-bottom: 15px !important; }
.margin-left { margin-left: 15px !important; }
.margin-right { margin-right: 15px !important; }
.margin-top { margin-top: 15px !important; }
.no-border { border: none !important; }
.no-margin { margin: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-padding { padding: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.width-auto { width: auto !important; }
[disabled] {
	cursor: default !important;
	opacity: 0.6;
}
::placeholder {
	color: #bbb;
}
a,
a:active,
a:focus,
a:visited {
	color: #000;
	font-weight: 600;
	text-decoration: none;
}
a,
body,
button,
div,
html,
input,
label,
pre,
select,
span,
textarea {
	font-family: helvetica, arial !important;
}
body,
html,
pre {
	background: #fff;
	color: #777;
	font-size: 13px;
	line-height: 27px;
	margin: 0;
}
body {
	cursor: default;
	margin: 91px 15px 115px;
}
footer,
header {
	float: left;
	width: 100%;
}
h1 {
	font-size: 22px;
	font-weight: 300;
	line-height: 34px;
	margin: 0 0 14px;
}
input,
textarea {
	background: #fff;
}
label {
	display: block;
	line-height: 26px;
	font-weight: 600;
}
main {
	display: block;
	min-height: 300px;
	padding: 0;
}
	main img {
		margin: 10px 0;
		width: 100%;
	}
p {
	line-height: 21px;
	margin: 0 0 15px 0;
}
pre {
	background: #000;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	margin: 10px 0 15px 0;
	overflow-x: scroll;
	padding: 15px;
	white-space: pre;
}
	pre span {
		margin: 0 !important;
	}
		pre span.comment {
			color: #555;
		}
		pre span.request-heading,
		pre span.response-heading {
			border-bottom: 1px solid #222;
			display: block;
			line-height: 17px;
			margin-bottom: 15px !important;
			padding-bottom: 15px;
			width: 100%;
		}
		pre span.response-heading {
			margin-top: 15px !important;
		}
		pre span.value {
			color: #888;
		}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('../png/icon-select-arrow.png') #fff right center no-repeat;
	background-size: auto 16px !important;
	border: 1px solid #aaa;
	border-radius: 0;
	color: #777;
	cursor: pointer;
	display: block;
	font-size: 13px;
	line-height: 38px;
	margin: 0;
	outline: none;
	padding: 0 34px 0 10px;
	width: 100%;
}
	select::-ms-expand {
		clear: both;
		display: flex;
		margin-top: 100px;
		position: absolute;
		width: 0;
	}
	select:hover {
		border-color: #000;
		color: #000;
	}
strong {
	font-weight: 600;
}
.alternate-button,
.main-button {
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.2px;
	margin: 0 14px 4px 0;
	outline: none;
	padding: 12px 24px;
	text-transform: uppercase;
}
.alternate-button {
	background: #fff;
	border: 1px solid #aaa;
	color: #000;
	padding: 11px 24px;
}
	.alternate-button:hover {
		border-color: #000;
	}
.checkbox {
	background: #fff !important;
	border: 1px solid #aaa !important;
	box-shadow: none !important;
	cursor: pointer !important;
	display: block !important;
	height: 14px !important;
	padding: 0 !important;
	position: relative;
	width: 14px !important;
	z-index: 2 !important;
}
	.checkbox:hover {
		border-color: #000 !important;
	}
	.checkbox[checked="1"] {
		border-color: #000 !important;
		box-shadow: 0 0 0 3px inset #000 !important;
	}
.checkbox-container {
	float: left;
	margin: 10px 0;
}
	.checkbox-container .checkbox {
		float: left;
	}
	.checkbox-container .custom-checkbox-label {
		box-sizing: border-box;
		color: #000;
		cursor: pointer;
		float: none;
		font-size: 13px;
		line-height: 18px;
		padding-left: 28px;
		padding-top: 0;
	}
.clear-search {
	display: block;
	float: left;
	line-height: 16px;
	margin-bottom: 0px;
	margin-top: 6px;
}
.container {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}
.content-container {
	border-top: 1px solid #ddd;
	padding-top: 19px;
}
	.content-container a {
		margin-right: 15px;
	}
	.content-container h2 {
		border-bottom: 1px solid #ddd;
		clear: none;
		float: left;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 18px;
		margin-top: 10px;
		padding: 0 0 16px;
		width: 100%;
	}
	.content-container img {
		background: #fff;
		border: 4px solid #000;
		box-sizing: border-box;
		padding: 20px;
	}
	.content-container span {
		margin-right: 15px;
	}
.field-group .add {
	float: left;
	height: 38px;
	line-height: 38px;
	margin-left: -1px !important;
	padding: 0 18px;
	position: relative;
	right: auto;
	top: auto;
	z-index: 4;
}
.field-group .number {
	width: 100px;
}
.field-group {
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	width: 100%;
}
	.field-group input,
	.field-group select,
	.field-group span,
	.field-group textarea {
		float: left;
		margin: 0 0 0 -1px;
		max-width: 100%;
		position: relative;
		width: auto;
	}
	.field-group input:focus,
	.field-group input:hover,
	.field-group select:focus,
	.field-group select:hover,
	.field-group textarea:focus,
	.field-group textarea:hover {
		z-index: 1;
	}
	.field-group span {
		cursor: default;
		font-weight: 600;
		line-height: 38px !important;
		padding: 0 13px;
		z-index: 2;
	}
		.field-group .table span {
			line-height: 20px !important;
		}
	.field-group label[type="radio"] {
		border: 1px solid #ddd;
		cursor: pointer;
		height: 38px;
		line-height: 38px;
		margin-bottom: 10px;
		padding: 0;
		width: 100%;
	}
		.field-group label[type="radio"] input {
			cursor: pointer;
			height: auto;
			margin: 11px 10px 0 13px !important;
			width: auto;
		}
		.field-group label[type="radio"]:hover {
			border-color: #000;
		}
	.field-group select {
		margin-bottom: 10px;
	}
	.field-group .add {
		float: left;
		height: 38px;
		line-height: 38px;
		margin-left: -1px !important;
		padding: 0 18px;
		position: relative;
		right: auto;
		top: auto;
		z-index: 4;
	}
	.field-group .number {
		width: 100px;
	}
	.field-group.interactive-field-group .button {
		background: #000;
		border: none;
		color: #fff;
		cursor: pointer;
		display: block;
		height: 28px;
		font-size: 11px;
		font-weight: 600;
		line-height: 1px;
		margin: 0 !important;
		outline: none;
		padding: 0 15px;
		position: absolute;
		right: 6px;
		text-transform: uppercase;
		top: 6px;
		z-index: 3;
	}
	.field-group .display {
		background: none;
		font-size: 14px;
		font-weight: 400;
	}
	.field-group .discount-code-field {
		padding-right: 142px;
	}
.field-group-container .field-group {
	width: auto;
}
.field-group-container span.icon {
	margin-left: 10px;
	margin-top: 10px;
}
.heading {
	margin-bottom: 15px;
}
.icon {
	color: #fff !important;
	cursor: pointer;
	display: block;
	height: 16px !important;
	float: left;
	font-size: 10px;
	margin: 0 0 8px 8px !important;
	width: 16px !important;
}
.icon.edit {
	background: url('../png/icon-edit.png') transparent center no-repeat;
	margin-top: 0;
}
.icon.next {
	background: url('../png/icon-next.png') transparent center no-repeat !important;
}
.icon.previous {
	background: url('../png/icon-previous.png') transparent center no-repeat !important;
}
	.icon.next,
	.icon.previous {
		height: 16px !important;
		margin: 0 0 5px 10px;
		padding: 0 !important;
		width: 11px !important;
	}
	.icon.next[page="0"],
	.icon.previous[page="0"],
	.icon.next[page="0"]:hover,
	.icon.previous[page="0"]:hover {
		opacity: 0.2;
		cursor: default !important;
	}
	a.icon.previous {
		margin: 5px 13px 11px 0 !important;
	}
.icon.remove {
	background: url('../png/icon-remove.png') center no-repeat;
}
.icon[process="activate"] {
	background: url('../png/icon-activate.png') center no-repeat;
}
.icon[process="authenticate"] {
	background: url('../png/icon-authenticate.png') center no-repeat;
}
.icon[process="deactivate"] {
	background: url('../png/icon-deactivate.png') center no-repeat;
}
.icon[process="download"] {
	background: url('../png/icon-download.png') center no-repeat;
}
.icon[process="group"] {
	background: url('../png/icon-group.png') center no-repeat;
}
.icon[process="search"] {
	background: url('../png/icon-search.png') center no-repeat;
}
.icon[process="server_nameserver_processes"] {
	background: url('../png/icon-server-nameserver-processes.png') center no-repeat;
}
.icon[process="server_proxy_processes"] {
	background: url('../png/icon-server-proxy-processes.png') center no-repeat;
}
.icon.edit,
.icon.next,
.icon.previous,
.icon.remove,
.icon[process="activate"],
.icon[process="authenticate"],
.icon[process="deactivate"],
.icon[process="download"],
.icon[process="group"],
.icon[process="search"],
.icon[process="server_nameserver_processes"],
.icon[process="server_proxy_processes"] {
	background-size: auto 16px !important;
}
.item-configuration-container .checked-container {
	display: block;
}
.item-configuration-container .item-controls-container .item-header {
	border-bottom: 1px solid #ddd;
}
	.item-configuration-container .item-controls-container .item-header .item-controls-heading-container {
		display: block;
		float: left;
		width: 100%;
	}
		.item-configuration-container .item-controls-container .item-header .item-controls-heading-container label {
			margin-bottom: 8px;
			margin-top: -4px;
		}
		.item-configuration-container .item-controls-container .item-header .pagination-container .pagination .item-controls.results,
		.item-configuration-container .item-controls-container .item-header .pagination-container .pagination .item-controls.results span {
			line-height: 16px !important;
		}
	.item-configuration-container .item-controls-container .item-header .alternate-button,
	.item-configuration-container .item-controls-container .item-header .main-button {
		margin: 0 0 7px 0;
		top: 22px;
	}
	.item-configuration-container .item-controls-container .item-header .additional-item-controls {
		border-top: 1px solid #ddd;
		float: left;
		margin-top: 16px;
		padding-top: 10px;
		width: 100%;
	}
		.item-configuration-container .item-controls-container .item-header .additional-item-controls .button {
			margin-top: 5px;
		}
			.item-configuration-container .item-controls-container .item-header .additional-item-controls .form .button {
				margin-bottom: 1px;
			}
			.item-configuration-container .item-controls-container .item-header .additional-item-controls .form .button,
			.item-configuration-container .editing .button {
				margin-top: 7px;
			}
		.item-configuration-container .item-controls-container .item-header .additional-item-controls .form {
			margin-bottom: 0px;
			padding-left: 32px;
		}
	.item-configuration-container .item-controls-container.scrolling .item-header {
		border-top: none !important;
	}
.item-configuration-container .item-body {
	border-top: none;
	padding-top: 85px;
}
.item-controls .checkbox {
	margin-bottom: 11px;
	margin-right: 8px;
}
.item-configuration-container .item-configuration-container .checkbox {
	background: #fff;
}
.item-configuration-container .item-configuration-container .icon.next,
.item-configuration-container .item-configuration-container .icon.previous {
	cursor: pointer !important;
	margin-left: 5px !important;
	margin-top: 0 !important;
}
	.item-configuration-container .item-configuration-container .icon.next[page="0"],
	.item-configuration-container .item-configuration-container .icon.previous[page="0"] {
		cursor: default !important;
	}
.item-configuration-container .item-configuration-container .item-body,
.item-configuration-container .item-configuration-container .item-header {
	background: none;
}
.item-configuration-container .item-configuration-container .item-body {
	padding: 0 0 35px 0;
}
.item-configuration-container .item-configuration-container .item-header {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 1px;
	padding: 18px 0 12px !important;
}
	.item-configuration-container .item-configuration-container .item-header span {
		line-height: 20px !important;
	}
		.item-configuration-container .item-configuration-container .item-header span.action {
			margin-right: 0;
		}
.item-configuration-container .item-configuration-container span {
	background: none;
	border: none;
	float: none;
	font-weight: 400;
	line-height: 28px !important;
	margin-left: 0 !important;
	padding: 0;
}
	.item-configuration-container .item-configuration-container span.action {
		cursor: pointer;
		font-weight: 600;
	}
.item-container {
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}
	.item-container input,
	.item-container textarea {
		border: 1px solid #aaa;
		box-sizing: border-box;
		color: #777;
		display: block;
		float: left;
		font-size: 13px;
		margin-bottom: 10px;
		outline: none;
		width: 100%;
	}
		.item-container input:hover,
		.item-container textarea:hover,
		.item-container input:active,
		.item-container input:focus,
		.item-container input:visited,
		.item-container textarea:active,
		.item-container textarea:focus,
		.item-container textarea:visited {
			border-color: #000;
		}
		.item-container input {
			line-height: 38px;
			padding: 0 12px;
		}
		.item-container textarea {
			height: 140px;
			line-height: 18px;
			padding: 10px 12px;
		}
	.item-container.item-button {
		border: 1px solid #ddd;
		margin-top: 15px !important;
		padding: 15px !important;
	}
		.item-container.item-button .item .checkbox-container {
			height: 50px;
			left: 0;
			margin: 0;
			position: absolute;
			top: 0;
			width: 50px;
			z-index: 2;
		}
			.item-container.item-button .item .checkbox-container .checkbox {
				left: 15px;
				margin: 0;
				position: absolute;
				top: 15px;
			}
		.item-container.item-button .item .item-checkbox {
			padding-left: 31px;
			padding-top: 0;
		}
		.item-container.item-button .item .label {
			text-transform: capitalize;
		}
		.item-container.item-button .field-group {
			margin: 0 0 8px 0;
		}
		.item-container.item-button:hover {
			border-color: #000;
		}
		.item-container.item-button p {
			line-height: 14px;
			margin-bottom: 10px;
		}
	.item-container.item-button-selectable {
		position: relative;
	}
		.item-container.item-button-selectable:hover {
			border-color: #000;
		}
		.item-container.item-button-selectable .checkbox {
			left: 15px;
			position: absolute;
			top: 15px;
		}
		.item-container.item-button-selectable p {
			cursor: default;
			line-height: 13px;
			margin-bottom: 8px;
			margin-left: -1px;
		}
	.item-container .item {
		cursor: default;
		display: block;
		margin-bottom: 0;
	}
		.item-container .item-body,
		.item-container .item-footer,
		.item-container .item-header {
			background: #fff;
			padding: 21px 0 16px;
		}
		.item-container .item-body {
			padding: 0;
		}
		.item-container .item-header {
			border-top: 1px solid #ddd;
		}
			.item-container .item-header .field-group span {
				line-height: 27px;
			}
			.item-container .item-header .item-controls {
				line-height: 16px;
			}
				.item-container .item-header .item-controls .item-action,
				.item-container .item-header .message {
					display: block;
					float: left;
					margin-bottom: 0 !important;
					margin-top: 15px;
				}
				.item-container .item-header .item-controls .item-action {
					line-height: 16px;
					margin-top: 7px;
				}
				.item-container .item-header .message {
					border-top: 1px solid #ddd;
					padding-top: 15px;
					width: 100%;
				}
				.item-container .item-header .item-controls .total {
					font-weight: 600;
				}
	.item-container .item-link-container {
		height: 100%;
		left: 0px;
		position: absolute;
		top: 0px;
		width: 100%;
	}
		.item-container .item-link-container a {
			display: inherit;
			height: inherit;
			position: relative;
			width: inherit;
			z-index: 1;
		}
.item-list-container .item-configuration-container {
	margin: 0;
}
.item-list .item-container .item-container {
	margin: 0;
}
	.item-list .item-container .item-container .item-body {
		padding-bottom: 0;
	}
	.item-list .item-container .item-container .item-header {
		padding: 0;
	}
.items-container {
	padding-top: 20px;
}
.label,
.message {
	color: #000;
	display: inline-block;
	font-weight: 600;
	margin: 0 8px 0px 0;
	padding: 0;
	position: relative;
	width: auto;
	z-index: 1;
}
.main-button {
	background: #000;
	color: #fff !important;
}
.message {
	display: block;
	margin-bottom: 10px;
	margin-right: 0;
	word-break: break-word;
}
	.message a {
		border-bottom: 1px dashed;
	}
		.message a:hover {
			border: none;
		}
.navigation {
	margin-bottom: -10px;
	padding: 0;
	width: 100%;
}
	.navigation p {
		padding: 18px 0;
	}
	.navigation nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.navigation nav ul li {
			float: left;
		}
			.navigation nav ul li a {
				display: block;
				line-height: 34px;
				margin-left: 15px;
			}
				.navigation nav ul li:first-child a {
					margin-left: 0;
				}
.process-container,
.process-container .process,
.process-container .process-overlay {
	bottom: 0;
	left: 0;
	margin: auto;
	position: relative;
	right: 0;
	top: 0;
}
	.process-container {
		z-index: 1;
	}
		.process-container .process {
			max-width: 500px;
			padding-top: 4px;
			z-index: 3;
		}
			.process-container .item-container {
				margin: 0;
				padding: 0 0 88px;
			}
				.process-container .item-list .item-container {
					padding: 0;
				}
			.process-container .process p,
			.process-container .process pre {
				margin-bottom: 10px !important;
			}
		.process-container .process-overlay {
			z-index: 2;
		}
			.process-container .process .item-body {
				padding: 0;
			}
				.process-container .process .item-body .process-button {
					display: block;
					line-height: 16px;
					margin: 6px 0 8px 0;
					width: 100%;
				}
					.process-container .process .item-body .process-button.icon {
						width: 18px !important;
					}
			.process-container .process .item-footer {
				padding-top: 8px;
				position: relative;
				float: left;
			}
				.process-container .process .item-footer a.button {
					float: left;
					margin-bottom: 15px;
				}
.process .checkbox-option-container {
	box-sizing: border-box;
	clear: left;
	float: left;
	margin-bottom: 18px;
	max-width: 100%;
	padding-left: 32px;
}
	.process .checkbox-option-container .field-group {
		margin-bottom: 8px;
	}
	.process .checkbox-option-container .checkbox-container {
		box-sizing: border-box;
		clear: left;
	}
.progress-container {
	background: #ddd;
	display: block;
	height: 4px;
	position: relative;
	width: 100%;
}
	.progress {
		background: #000;
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
		top: 0;
	}
.scrollable {
	left: 0;
	position: absolute;
	right: 0;
	top: -1px;
	z-index: 1;
}
.scrollable[scrolling="1"] {
	margin: auto;
	position: fixed;
}
.scrollable[scrolled_to_the_bottom="1"] {
	bottom: 0;
	left: auto;
	position: absolute;
	right: auto !important;
	top: auto;
}
.scrollable[scrolling="1"],
.scrollable[scrolled_to_the_bottom="1"] {
	z-index: 4;
}
.section {
	margin-top: 72px;
}
.table {
	border: none;
	border-spacing: 0;
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
}
	.table tr {
		border-bottom: 1px solid #ddd;
		float: left;
		position: relative;
		width: 100%;
	}
		.table tr:hover span.table-actions {
			display: block;
		}
		.table tr td {
			padding: 5px;
			width: 100%;
		}
			.table tr td.checkbox-container {
				float: none;
				padding: 0 10px 0 0;
				width: 1px;
			}
			.table tr td.editing {
				border-left: 1px solid #ddd;
				padding: 10px 16px 16px;
			}
			.table tr td input.custom {
				width: 100%;
			}
			.table tr td .table-text {
				float: left !important;
				width: 100%;
			}
				.table tr td .table-text a {
					float: left;
					word-break: break-word;
					z-index: 1;
				}
			.table tr td .table-actions {
				display: none;
				margin: 5px auto;
				position: absolute;
				right: 0;
			}
				.table tr td .table-actions span.icon {
					margin-left: 2px;
				}
	.table thead tr {
		border: none !important;
	}
		.table thead tr th {
			font-size: 13px;
			font-weight: 400;
			line-height: 34px;
			padding: 0 12px;
		}
		.table thead tr th:first-child {
			padding: 0;
			width: 20px;
		}
	.table tbody tr:first-child {
		border-top: 1px solid #ddd;
	}
.tooltip:hover.tooltip:after {
	background-color: #fff;
	color: #000;
	content: attr(item_title);
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	margin-left: -1px;
	padding: 5px 9px 5px;
	position: absolute;
	width: auto;
	z-index: 9;
}
	.tooltip:hover.tooltip-bottom:after {
		margin-left: -10px;
		margin-top: 22px;
	}
